.input-btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 355px;
  height: 40px;
  gap: 8px;
}

#datetime-picker {
  padding: 8px 16px;
  flex-shrink: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

#datetime-picker:hover {
  border-color: #000;
  box-shadow: 0 5px 10px rgb(78, 117, 255);
}

#datetime-picker:disabled:hover {
  box-shadow: none;
}

#datetime-picker:active {
  border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
  cursor: not-allowed;
  background: #cfcfcf;
  color: #808080;
  border: none;
}

button[data-start]:disabled {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #cfcfcf;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  border: none;
  cursor: not-allowed;
}
button[data-start]:disabled.hovered:hover {
  box-shadow: none;
}

.hovered {
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  outline: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background 1s ease, color 1s ease, box-shadow 0.3s ease-in-out;
}

.hovered:hover {
  box-shadow: 0 4px 4px 0 rgba(129, 125, 231, 0.7);
  background: #817de7;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.value {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
